$c-con: #1A60A9;
$c-con-close: #2E6DC5;
$c-con-distant: #6697CC;

$c-lab: #E42729;
$c-lab-close: #FF3600;
$c-lab-distant: #FF8C8E;

$c-libdem: #FAB817;
$c-libdem-close: #FBBB00;
$c-libdem-distant: #C78B00;

$c-snp: #FED905;
$c-snp-close: #FED905;
$c-snp-distant: #C7B131;

$c-green: #53AC32;
$c-green-close: #64BC3E;
$c-green-distant: #9BDC84;

$c-ukip: #7D0068;
$c-ukip-close: #960080;
$c-ukip-distant: #DC9AD1;

$c-plaidcymru: #397031;
$c-plaidcymru-close: #47833D;
$c-plaidcymru-distant: #53AE45 ;

$c-grey: #717D85;

$c-bar: #D4D9DF;
