$c-con: #1A60A9;
$c-con-close: rgba(46, 109, 197, 0.3);
$c-con-distant: rgba(102, 151, 204, 0.3);

$c-lab: #E42729;
$c-lab-close: rgba(255, 54, 0, 0.3);
$c-lab-distant: rgba(255, 140, 142, 0.3);

$c-libdem: #FAB817;
$c-libdem-close: rgba(251, 187, 0, 0.3);
$c-libdem-distant: rgba(199, 139, 0, 0.3);

$c-snp: #FED905;
$c-snp-close: rgba(254, 217, 5, 0.3);
$c-snp-distant: rgba(199, 177, 49, 0.3);

$c-green: #53AC32;
$c-green-close: rgba(100, 188, 62, 0.3);
$c-green-distant: rgba(155, 220, 132, 0.3);

$c-ukip: #7D0068;
$c-ukip-close: rgba(150, 0, 128, 0.3);
$c-ukip-distant: rgba(220, 154, 209, 0.3);


$c-grey: #717D85;

$c-bar: #D4D9DF;
