// .pullquote-paragraph{
//   color: #333 !important;
// }
//
// .drop-cap{
//   color: #333 !important;
// }
//
// .in-body-link--immersive{
//   color: #333 !important;
// }
@import "_fonts";
@import "_mq";

.parkour-image {
  height: 600px;
  background-color: #333;
  position: relative;

  .wrapper-one {
    position: relative;
    height: 600px;
    width: 100%;
    display: block;
    background-image: url("https://interactive.guim.co.uk/embed/article-embeds/parkour_02/hashed/rooftop.186de53a.jpg");
    background-size: cover;
    background-position: left;
    overflow: hidden;
  }

  .person-one {
      position: absolute;
      bottom: 60px;
      transform: translateY(-220px);
      width: auto;
      max-width: 400px;
      left: 10px;
      right: 10px;


      @include mq(tablet) {
          width: 400px;
          left: 60px;
          right: auto;
          transform: translateY(-90px);
      }

      @include mq(desktop) {
          left: 180px;
          max-width: 550px;
          width: 550px;
      }

      @include mq(leftCol) {
          max-width: 550px;
          width: 550px;
      }

      @include mq(wide) {
          z-index: 1;
          left: 260px;
      }

      img {
          width: 100%;
      }
  }

  h2.parkour-text-one {
      color: #ffffff;
      font-size: 42px;
      line-height: .9em;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: 800;
      margin: 0;
      position: absolute;
      display: inline-block;
      z-index: 0;
      right: 20px;
      bottom: 20px;

      span{
        display: block;
        opacity: 0;
      }

      @include mq(tablet) {
          font-size: 62px;
      }

      @include mq(wide) {
          right: 100px;
      }
  }

  .wrapper-two {
      position: relative;
      height: 600px;
      width: 100%;
      display: block;
      background-image: url("https://interactive.guim.co.uk/embed/article-embeds/parkour_02/hashed/rooftop.e377bb76.jpg");
      background-size: cover;
      background-position: center;
      overflow: hidden;
  }

  h2.parkour-text-two {
      color: #ffffff;
      font-size: 42px;
      line-height: .9em;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: 800;
      margin: auto;
      text-align: center;

      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      bottom: 48px;
      z-index: 0;

      span {
          display: block;
      }

      @include mq(tablet) {
          font-size: 62px;
      }
  }
  .wrapper-three {
    position: relative;
    height: 600px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-image: url("https://interactive.guim.co.uk/embed//article-embeds/parkour_03/hashed/mustang.87fd61ff.jpg");
    background-size: cover;
    background-position: center;
  }

  h2 {
    color: #ffffff;
    font-size: 32px;
    line-height: .9em;
    font-family: 'Guardian Egyptian Web', serif;
    font-weight: 800;
    margin: 0;
    position: absolute;
    display: inline-block;
    z-index: 0;
    right: 20px;
    bottom: 20px;

    span {
        display: block;
        opacity: 0;
    }

    @include mq(phablet) {
        font-size: 42px;
    }

    @include mq(tablet) {
        font-size: 62px;
    }

    @include mq(wide) {
        right: 100px;
    }
  }

  .wrapper-four {
    position: relative;
    height: 600px;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .parkour-background-four {
    position: absolute;
    left: 0;
    right: 0;
    height: 800px;
    transform: translateY(68px);

    img {
      height: 109%;
      width: auto;

      @include mq($from: desktop){
        height: auto;
        width: 109%;
      }
    }
  }

  .person-four {
    position: absolute;
    bottom: 0;
    height: 550px;

    @include mq(tablet) {
        left: 60px;
        right: auto;
    }

    @include mq(desktop) {
        left: 180px;
    }

    @include mq(wide) {
        z-index: 1;
        left: 360px;
    }

    img {
        width: auto;
        height: 550px;
    }
  }

  h2.parkour-text-four {
    color: #ffffff;
    font-size: 32px;
    line-height: .9em;
    font-family: 'Guardian Egyptian Web', serif;
    font-weight: 800;
    margin: 0;
    position: absolute;
    display: inline-block;
    z-index: 0;
    right: 20px;
    bottom: 20px;

    span {
        display: block;
        opacity: 0;
    }

    @include mq(phablet) {
        font-size: 42px;
    }

    @include mq(tablet) {
        font-size: 62px;
    }

    @include mq(wide) {
        right: 100px;
    }
  }

  .fadein span {

      &:nth-child(1) {
          animation: fadeIn 1s 0s ease-in forwards;
      }

      &:nth-child(2) {
          transform: translateX(-48%);
          animation: fadeIn 1s .5s ease-in forwards;
      }

      &:nth-child(3) {
          animation: fadeIn 1s 1s ease-in forwards;
      }
  }

  @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 100; }
  }
}
